.DS_Store
.cache/
.config/gh/
.CFUserTextEncoding
.cursor/
.local/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Repo/
.config/tmux/plugins/
.npm/
.nvm/
.zcompdump
.dotfiles/
.zsh_history
.config/nvim/lazy-lock.json
.config/iterm2/
.Trash/
